.item-purchase-banner {
  display: none;
}
.navbar-toggler {
  border-color: #000;
}
.card {
  border-color: #b9b9b9;
  width: 100%;
}
.main {
  margin-top: 110px;
}
.list-group {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.list-group-item {
  border: 1px solid rgba(0,0,0,.25);
  color: #000;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main {
    margin-top: 0px;
  }
}
.chat-body {
  background-color: #6b80f3;
  border-radius: 5px;
  margin: 5px;
  color: #fff;
}

.chat-body p {
  color: #fff;
}

.text-muted, .preview-list .preview-item .preview-item-content p .content-category {
  color: #aaccea !important;
}
      .item-purchase-banner {
  display: none;
}
.nav-item  {
  padding: 20px;
  border-style: solid;
  margin: 30px;
}
.box {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}
.specific-row {
  width: 60%;
  display: flex;
  flex-direction: row;
}
.specific-title {
  width: 30%;
  font-weight: 700;
}
.specific-desc {
  width: 70%;
}
@media (min-width: 320px) and (max-width: 992px) {
.specific-row {
  flex-direction: column;
}
}