.btn-primary , .btn-outline-success{
    background: none !important;
    border: none;
    color:rgba(0,0,0,0.5);
  }
  .btn-primary:hover , .btn-outline-success:hover{
      color:rgba(0,0,0,0.5);
  }
  .btn-primary.active-item{
    color: #fff;
    background: #288cff linear-gradient(180deg, #489dff, #288cff) repeat-x !important;
    border-color: #288cff;
    box-shadow: none;
  }

  .btn-outline-success.active-item {
    color: #fff;
    background-color: #00c759!important;
    border-color: #00c759;
}
#error_box{
    font-size: 15px;
    color: #ffed00;
    line-height: 20px;
    font-weight: 700;
    min-height: 20px;
}